{% extends "base.html" %}
{% block content %}
 MUD created by <strong> GIDEL Julien </strong> & <strong> LEPILLER Raphael</strong> <br>
 IUT Orléans - AS Informatique 2015/2016
{% end %}
{% block js %}
selected_tab = "#tababout";
{% end %}
